$primary-font: 62.5%;
$primary-color : #56a5eb;
$primary-bg-color: #ecf5ff;
$primary-header-color : #56a5eb;
$primary-btn-color : #56a5eb;




/* MIXIN */

@mixin quiz-hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}